tests/integration/*.db
tests/integration/*.db-wal
tests/integration/*.db.wal
tests/integration/*.db-shm
cmd/loxa-collector/main.go.*
cmd/loxa-collector/main_test.go.*
*.go.[0-9]*


.env

# Windows build artifacts
*.exe
